<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">

  <style type="text/css">
    @font-face {
        font-family: "KG2C";
        src: url("/fonts/KG2C.ttf") format("truetype");
    }
   </style>  
  
  
<h4 style="font-family:KG2C;color:crimson;">Sharing is caring. Share this story in...</h4>  
  
  <span class="sr-only">Share: </span>
  
  {% if site.share-links-active.twitter %}
  <!--- Share on Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-twitter" title="Share on Twitter">
      <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span>
    </a>
  {% endif %}
  
  

</section>

{% endif %}
