	<div class="sticky-container">
		<ul class="sticky">
			<li>
				<img width="32" height="32" title="" alt="" src="{{base.url}}/img/Social/fb1.png" />
				<p>Facebook</p>
			</li>
			<li>
				<img width="32" height="32" title="" alt="" src="{{base.url}}/img/Social/tw1.png" />
				<p>Twitter</p>
			</li>
			<li>
				<img width="32" height="32" title="" alt="" src="{{base.url}}/img/Social/pin1.png" />
				<p>Pinterest</p>
			</li>
			<li>
				<img width="32" height="32" title="" alt="" src="{{base.url}}/img/Social/li1.png" />
				<p>Linkedin</p>
			</li>
			<li>
				<img width="32" height="32" title="" alt="" src="{{base.url}}/img/Social/rss1.png" />
				<p>RSS</p>
			</li>
			<li>
				<img width="32" height="32" title="" alt="" src="{{base.url}}/img/Social/tm1.png" />
				<p>Tumblr</p>
			</li>
			<li>
				<img width="32" height="32" title="" alt="" src="{{base.url}}/img/Social/wp1.png" />
				<p>WordPress</p>
			</li>
			<li>
				<img width="30" height="32" title="" alt="" src="{{base.url}}/img/Social/vm1.png" />
				<p>Vimeo</p>
			</li>
			<li>
				<img width="30" height="32" title="" alt="" src="{{base.url}}/img/Social/pocket.png" />
				<p>Pocket</p>
			</li> 
			<li>
				<img width="30" height="32" title="" alt="" src="{{base.url}}/img/Social/flipboard.png" />
				<p>Flipboard</p>
			</li>       
		</ul>
	</div>
